body {
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/251/940/original/mountain-landscape-first-person-illustration-vector.jpg);
  font-family: "GT America Condensed", Arial, sans-serif;
  font-size: 24px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body .container {
  display: flex;
  justify-content: center;
  height: 800px;
  align-items: center;
  flex-direction: column;
}
body .header {
  margin: 50px;
  padding: 20px;
}
body .dropdown {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}
body .ageGate {
  text-align: center;
}
body #happy {
  text-align: center;
}
body .formField {
  padding: 10px;
  border: 2px solid blanchedalmond;
  box-shadow: 10px 12px 0.5rem rgba(0, 0, 0, 0.5);
}
body .ageGate {
  margin: 20px;
  padding: 10px;
  border: 2px solid blanchedalmond;
  box-shadow: 10px 12px 0.5rem rgba(0, 0, 0, 0.5);
}
